@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pinyon+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    /* Common variables */
    --text-color: #353138;
    --text-color-light: #fff;
    --bg-light: #ffffff;
    --bg-dark: #353138;
    --hover-bg-light: transparent;
    --hover-bg-dark: transparent;
    --shadow-color: transparent;
    
    /* Theme-specific primary colors */
    --primary-color-light: #905FC1;
    --primary-color-dark: #BE9FE1;  /* Lighter purple for dark mode */
}

.light-theme {
    --primary-color: var(--primary-color-light);
    background-color: var(--bg-light);
    color: var(--text-color)
}

.dark-theme {
    --primary-color: var(--primary-color-dark);
    background-color: var(--bg-dark);
    color: var(--text-color-light)
}

.policies{
    border: 1px solid var(--primary-color);
    border-radius: 10px; 
    box-shadow: 5px 5px 5px var(--shadow-color); 
    padding: 20px; 
    margin: 10px; 
    text-align: center;
    width: 400px;
    height: 300px; 
    display: inline-block; 
}

.policies .policy-image{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px; 
}

.sidebar {
    color: var(--text-color);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-light);
    padding: 10px;
}

.logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: rgba(28, 17, 41, 0.88);
}

/* Custom menu styles */
.custom-menu {
    height: 91vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    position: relative;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.light-theme {
    background-color: var(--bg-light);
    color: var(--text-color);
}

.dark-theme {
    background-color: var(--bg-dark);
    color: var(--text-color-light);
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.light-theme .menu-item:hover {
    background-color: var(--hover-bg-light);
    color: var(--primary-color);
}

.dark-theme .menu-item:hover {
    background-color: var(--hover-bg-dark);
    color: var(--primary-color);
}

.menu-item.active {
    background-color: var(--hover-bg-light);
    color: var(--primary-color);
}

.dark-theme .menu-item.active {
    background-color: var(--hover-bg-dark);
    color: var(--primary-color);
}

.menu-item span {
    margin-left: 10px;
}

/* Custom button */
.custom-btn {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.light-theme .custom-btn {
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.dark-theme .custom-btn {
    border: 1px solid var(--text-color-light);
    color: var(--text-color-light);
}

.custom-btn:hover {
    background-color: var(--hover-bg-light);
    color: var(--primary-color);
}

.dark-theme .custom-btn:hover {
    background-color: var(--hover-bg-dark);
    color: var(--primary-color);
}

.toggle-theme-btn {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

/* Layout styles */
.layout {
    display: flex;
    min-height: 100vh;
}
  
.sidebar {
    width: 15%;
    flex-shrink: 0;
    transition: all 0.3s ease;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    border-right: 1px solid var(--primary-color)
}
  
.sidebar.dark-theme {
    background-color: var(--bg-dark);
}
  
.sidebar.light-theme {
    background-color: var(--bg-light);
}
  
.content {
    flex-grow: 1;
    padding: 2% 2% 2% 20%; /* top, right, bottom, left */
    overflow-y: auto;
  }
  
.content.dark-theme {
    background-color: #353138;
}

.content.light-theme {
    background-color: #fafafa;
}

.menu-item[data-key='login'],
.menu-item[data-key='profile'] {
    margin-bottom: 10px;
    position: relative;
}

/* .menu-item[data-key='login']::before,
.menu-item[data-key='profile']::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20%;
    right: 20%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.2);
} */