@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pinyon+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* .policies{
    border: 1px solid rgb(62, 58, 58);
    border-radius: 10px; 
    box-shadow: 5px 5px 5px rgba(125, 123, 123, 0.1); 
    padding: 20px; 
    margin: 10px; 
    text-align: center;
    width: 500px;
    height: 300px; 
    display: inline-block; 
}

.policies .policy-image{
    max-width: 10%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px; 
} */


.sidebar {
    color: #333;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
}

.logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: rgba(28, 17, 41, 0.88);
}

.menu-bar {
    height: 91vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 1rem;
    position: relative;
}

.toggle-theme-btn {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.toggle {
    margin-left: 15px;
}

